:root{
    --fondo: #fff;
    --colorPrincipal: #000;
    --colorTitulos: #1239BD;
    --fuentePrincipal: 'oxygen';
    --fuenteTitulos: 'open sans';
}

/* apply a natural box layout model to all elements, but allowing components to change */
html {
    box-sizing: border-box;
    font-size: 62.5%;
}
*, *:before, *:after {
    box-sizing: inherit;
}

body {
    background-color: var(--fondo);
    font-size: 1.6rem;
    line-height: 1.5;
    font-family: var(--fuentePrincipal);
    text-decoration: none;
}

h1, h2, h3{
    color: var(--colorTitulos);
    font-family: var(--fuenteTitulos);
}

a{
    text-decoration: none;
}

/**Titulo**/
.titulo{
    text-align: center;
    background-color: #A9E2F3;
    padding-top: 1rem;
    font-size: 4rem;
}

.grid{
    display: grid;
    grid-template-columns: 50% 50%;
}

.articulo{
    background-color: bisque;
    margin-right: 1rem;
    margin-left: 1rem;
    margin-bottom: 1rem;
}

.articulo__titulo{
    text-decoration: underline;
}

.articulo__autor{
    color:darkgrey;

}

.articulo__descripcion{
    text-align: justify;
}

footer{
    margin: 0;
    background-color: grey;
    color:#fff;
    

}

.grid3{
    display: grid;
    grid-template-columns: 33.3% 33.3% 33.3%;
}

.datos{
    margin-top: 9rem;
}

.img__footer{
    width: auto;
}

@media (max-width:768px){
    .grid{
        display: grid;
        grid-template-columns: 100%;
    }
    .grid3{
        display: grid;
        grid-template-columns: 100%;
    }
}